@import 'components/form.css';

.popup{
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.popup__container {
    background-color: var(--ambient-color);
    text-align: center;
    border-radius: 1em;
    padding: 2em;
    color: var(--font-color);
}

.popup__text {
    padding: 1em;
}

.main{
    margin: 1em auto;
}

.login,.signup {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login__title,.signup__title {
    margin: 1.5em 0;
}

.login__signup {
    padding: 1em 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.button__link {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: .5em;
    display: flex;
    align-items: center;

    padding: .2em .5em
}
.hidden {
    display: none;
}
.error__message {
    color:red;
    font-size: 1.1em;
    font-weight:bold;
}
.error__message.--hidden {
    display: none;
}


.login__signup .form__button {
    width: auto;
}
@media only screen and (max-width: 768px) {
  
    .login,.signup{
        text-align: center;
    }
    .login__form {
        width: 100%;
    }

    .signup__title {
        margin-top: 2em;
    }
    .header__signup {
        justify-content: center;
    }

    .main__signup {
        margin: 9em auto;
    }

}