@import 'components/form.css';


.header {
    max-width: var(--max-width);
    margin: 0 auto;
    max-height: 25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.popup{
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.popup__container {
    background-color: var(--ambient-color);
    text-align: center;
    border-radius: 1em;
    padding: 2em;
    color: var(--font-color);
}

.popup__text {
    padding: 1em;
}
.header__signup {
    justify-content: flex-start;
}

.header__image {
    position: absolute;
    left: 2em;
    top: 2em;
}


.header__image img {
    height: 21vh;
}

.header__content {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.main{
    margin: 1em auto;
}
.main__signup {
    margin: 8em auto;
}
.login,.signup {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login__title,.signup__title {
    margin: 1.5em 0;
}


.login__signup {
    padding: 1em 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.button__link {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: .5em;
    display: flex;
    align-items: center;

    padding: .2em .5em
}


.login__signup .form__button {
    width: auto;
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    body {
        padding: 0 1em;
    }
    .header__image {
        position: relative;
        left: 0;
        top: 1em;
        height: 5em;
        align-self: center;
    }
    
    .header__image img {
        height: 5em;
    }
    
    .header__content {
        width: 100%;
        height: unset;
        text-align: center;
        margin: 1em 0;
    }
    .main {
        height: 60vh;
        margin-top: 1em;
    }
    .login,.signup{
        text-align: center;
    }
    .login__form {
        width: 100%;
    }

    .signup__title {
        margin-top: 2em;
    }
    .header__signup {
        justify-content: center;
    }

    .main__signup {
        margin: 9em auto;
    }


}