.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.settings__container {
    padding: 1em;
    background-color: var(--nav-bg-color);
    border-radius: 1em;
    margin: .5em;
}
.settings__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings__blockContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10em;
    justify-content: space-evenly;
}
.settings__blockContent label {
    width: 100%;
    text-align: initial;
}
.settings__input {
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: .5em;
    border: none;
    width: 100%;
}
.settings__input:placeholder-shown,.settings__input::placeholder {
    color: var(--ambient-color);
}

.settings__button {
    height: 1.5rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: .5em;
    border: none;
    color: var(--font-color);
    justify-self: center;
    cursor: pointer;
    width: 80%;
    background-color: var(--star-color);
}

.settings__button:hover {
    transition: background-color 300ms ease-in;
    background-color: var(--main-bg-color);
}

.settings__totalLiked{
    font-weight: bold;
}

.elephant__loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}