@import 'components/form.css';

.signup {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.signup__form {
    background-color: lightpink;
}
::placeholder {
    padding-left: .5em;
}