@import "resets.css";

html {
    font-size: 16px;
    text-align: justify;
}

main{
    padding: 2em;
    max-width: 70em;
    display: flex;
    flex-direction: column;

    align-content: center;
    margin: 0 auto;

}

table {
    margin: 2em 0;
}

.container {
    width: 50%;
    margin: 0 auto;

}

.container__img {
    width: 100%;
    height: auto;
}