.viewliked {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.viewliked__view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    min-height: 27em;
    background-color: var(--swipe-bg-color);
    border: 2px solid var(--nav-bg-color);
    width: 60%;
}


.viewliked__tabs {
    width: 20%;
    background-color: var(--ambient-color);
    height: fit-content;
    padding: .5em;
    align-items: center;
    justify-content: center;

}

.viewliked__tab {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 0;
    border-bottom: 2px solid var(--nav-bg-color-lg);
    cursor: pointer;
}

.viewliked__tab.--active {
    background-color: var(--nav-bg-color);
}

.viewliked__tab:hover {
    background-color: var(--nav-bg-color);
    transition: background-color 300ms ease-in;
}

.viewliked__tab:nth-of-type(2),.viewliked__tab:nth-of-type(4) {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.viewliked__select {
    background-color: var(--nav-bg-color-lg);
    min-width: 80%;
    text-align: center;
    height: 1.5em;
    cursor: pointer;
    border: 1px solid var(--nav-bg-color);
}

.select__down {
    align-self: flex-end;
    transition: transform 300ms ease-in;
    transform: rotate(-90deg);
}

.viewliked__selectmenu {
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    cursor: pointer;
    transition: transform 300ms ease-in;
    background-color: var(--nav-bg-color-lg);

}

.viewliked__tab:nth-of-type(2):hover .viewliked__selectmenu {
    transition: transform 300ms ease-in;
    position: relative;
    transform: scaleY(1);
}
.viewliked__tab:nth-of-type(4):hover .viewliked__selectmenu {
    transition: transform 300ms ease-in;
    position: relative;
    transform: scaleY(1);
}


.viewliked__select:hover .viewliked__selectmenu {
    transition: transform 300ms ease-in;
    position: relative;
    transform: scaleY(1);

}

.viewliked__select:hover .select__down {
    transition: transform 300ms ease-in;
    transform: rotate(0);

}

.select__option {
    border-bottom: 2px solid var(--nav-bg-color);
}

.select__option:hover {
    background-color: var(--nav-bg-color);
    transition: background-color 300ms ease-in;
}

.viewliked__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.viewliked__info {
    align-self: flex-start;
    height: 100%;
}

.viewliked__username {
    margin-bottom: 1em;
    text-transform: capitalize;
}

.viewliked__description {
    overflow: auto;
}

.viewliked__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.viewliked__genderInfo {
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.viewliked__statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.viewliked__gendername {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.viewliked__namestatistic {
    height: 100%;
    margin: .5em 0;
    text-align: justify;
}

.viewliked__window {
    display: none;
}

.viewliked__active {
    display: flex;
}

.gender__table,
.combo__table {
    width: 48%;
    border: 2px solid var(--nav-bg-color);
}

#window3.viewliked__view,
#window2.viewliked__view {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gender__table caption,
.combo__table caption {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.table__headerrow {
    font-size: 1.1em;
    font-weight: bold;

}

.gender__table tr,
.combo__table tr {
    padding: .2em 0;
    border-top: 1px solid var(--nav-bg-color);
    border-bottom: 1px solid var(--nav-bg-color);
    cursor: pointer;
}

.gender__table tr:nth-of-type(even),
.combo__table tr:nth-child(even) {
    background-color: var(--ambient-color);
}

.gender__table .gender__row:hover,
.combo__table tr:hover {
    transition: background-color 300ms ease-in;
    background-color: var(--nav-bg-color);
}

.gender__table td,
.combo__table td {
    border: 1px solid var(--nav-bg-color);
    width: 33.33%;
}

.gender__rank{
    text-align: center  ;
}
.gender__rankstar.fas {
    color: var(--star-color);
    padding: 0;
}
.gender__sortTable {
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    border-radius: 2em;
    border: none;
    color: var(--font-color);
    background-color: var(--nav-bg-color);
    cursor: pointer;
}
.gender__sortTable:hover {
    transition: background-color 300ms ease-in;
    background-color: var(--nav-bg-color-lg);
}
.elephant__loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    justify-content: center;
}
.elephant__loader span {
        width: 100%;
        background-color:var(--ambient-color);
}

#window2 .viewliked__container {
    flex-direction: row;
    flex-wrap: wrap;
}
.gender__nameInfo{
    display: flex;
    flex-direction: row;

}
.gender__name {
    position: relative;
    font-size: 1.1em;
    vertical-align: middle;
}
.gender__name span {
    width: 80%;
}
.gener__name i {
    width: 20%;
}
.gender__description {
    position: absolute;
    z-index: 999999999999;
    display: none;
    top: 1.5em;
    background-color: var(--nav-bg-color-lg);
    padding: 1em;
    font-size: 1.1em;
    max-width: 15em;
    min-width: 15em;
    border-radius: 2em;
}

.gender__name:hover .gender__description {
    display: inline;
}
.fa-info {
    color:var(--font-color) ;
}


.combo__tables,.rating__tables {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.gender__removeName {
    border-radius: 2em;
    background-color: var(--ambient-color);
    cursor: pointer;
    transition: background-color 300ms ease-in;
}

.gender__removeName:hover {
    transition: background-color 300ms ease-in;
    transition: transform 300ms ease-in;
    transform: scale(1.1);
    background-color: lightcoral;
}

.viewliked__namemaker {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.viewliked__namemaker .form__input {
    height: 1.75em;
    font-size: 1.25em;
    width: 70%;
}
.viewliked__namemaker .form__input::placeholder {
    font-size: 1.25em;
}
.viewliked__namemakerText p {
    margin: 1em 0;
}
.viewliked__namemakerCriteria, .viewliked__namemakerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.viewliked__nameButton {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: .5em;
    border: none;
    color: var(--font-color);
    justify-self: center;
    cursor: pointer;
    background-color: var(--bt-color);
    min-width: 20%;
    padding: .5em;
    
}

.viewliked__nameButton:hover {
    transition: background-color 300ms ease-in;
    background-color: var(--bt-color-lg);
}
label {
    color: var(--font-color);
    font-size: 1.1em;
    font-weight: 400;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--swipe-bg-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--ambient-color);
    cursor: pointer;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--ambient-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--ambient-color);
    cursor: pointer;
}
.viewliked__nameResult {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
    .viewliked__view {
        margin-top: 1em;
        min-width: unset;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    .viewliked__container {
        align-items: center;
        justify-content: center;
    }

    .viewliked__info {
        align-self: center;
    }

    .viewliked__tabs {
        width: 100%;
        margin-top: 1em;
    }

    .gender__table,
    .combo__table {
        width: 100%;
        font-size: 1.1em;
        align-items: center;
        text-align: center;
    }

    .gender__table th {
        text-align: center;
    }

    .viewliked__genderInfo {
        width: 100%;
    }

    #window2 .viewliked__container {
        padding: 1em;
    }



}