<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>NafnaTEst</title>
    
</head>
<body>
    <main>
        <h3>Halló Heimur</h3>
        <a th:href="@{/signup}">Skrá notanda</a>
        <table  th:fragment="table">
            <tr>
                <th>ID</th>
                <th>Nafn</th>
                <th>Netfang</th>
                <th>Lykilorð</th>
                <th>Nöfn</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.getId()}" />
                <td th:text="${user.getName()}" />
                <td th:text="${user.getEmail()}" />
                <td th:text="${user.getPassword()}" />
                <td th:text="${user.getAvailableNamesSize()}" />
            </tr>
        </table>
    </main>
</body>
</html>