<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tengja saman | Nafnaneistar</title>
    <link rel="shortcut icon" th:href="@{/img/fav.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/linkpartner.css}"></head> 
<body>
    <header th:replace="Swipe.html :: header"></header>
    <main class="main">
        <section class="linking">
            <div class="linkHead__content">
                <h2 class="linking__title">Viltu tengja nafna listann þinn við einhvern annann? </h2>
                <h2 class="linking__title">Skrifaðu póstfangið og tengist saman</h2> 
            </div>
            <div class="linking__submit">
                <form class="linking__form form" th:action="@{/linkpartner}" method="post">
                    <input class="form__input" type="text" th:name="email" id="email" placeholder="Netfang" required/>
                    <button  class="form__button" type="submit" > Tengjast</button>
        <!--  <p id = "hiddenAlert" class="form__alert"> Ónei þessi notandi er ekki til, prufaðu aftur </p> -->     
                 <span class="error__message --hidden">Vitlaust netfang</span>
                 </form>
            </div>
            
            <p class = "link_userName" th:text= "${user.getName()}"> </p>
            <table class="linked__table">
                <caption class= " link_cap">þú ert tengd(ur) við </caption>
                <thead>
                    <tr class="linkTable__headerrow">
                        <th>Nafn</th>
                        <th>Netfang</th>
                        <th>Aðgerðir</th>
                    </tr>
                </thead>
            </table>
        </section>
    </main>
    <script th:src="@{/js/linkpartner.js}"></script>  
</body>
</html>
