<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tengja saman | Nafnaneistar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!--  <link rel="stylesheet" th:href="@{/css/linking.css}">      búa til síðu-->     
</head>
<body>
    <header th:replace="/Swipe.html :: header"></header>
    <main class="main">
        <!--   <span class="user" th:text="${user.getName()}"></span> -->
        <section class="linking">
            <h2 class="linking__title">Viltu tengja nafna listann þinn við einhvern annann? </h2>
            <h2 class="linking__title">Skrifaðu póstfangið og tengist saman</h2> 
            <form class="linking__form form" th:action="@{/linkpartner}" method="post">
                <input class="form__input" type="text" th:name="email" id="email" placeholder="Netfang" required/>
                <button  class="link__button" type="submit" > Tengjast</button>
            </form>
        </section>
    </main>
    <!--  <script th:src="@{/js/login.js}"></script>   búa til javascript, popup sem segir notandinn er til og verður látin vita þegar tekst --> 
</div>
</body>
</html>