<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | Nafnaneistar</title>
</head>
<body>
    <main>
        <form th:action="@{/signup}" th:object="${user}" method="post" style="display: flex; flex-direction:column;">
            <label for="name">Nafn:</label>
            <input type="text" th:field="*{name}" id="name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            
            <label for="email">Netfang:</label>
            <input type="email" th:field="*{email}" id="email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

            <label for="password">Lykilorð:</label>
            <input type="password" th:field="*{password}" id="password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

            <input type="submit" value="add user">


            
        </form>
    </main>
    <table th:include="/Home.html :: table"></table>
</body>
</html>