<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nýskráning | Nafnaneistar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/login-signup.css}">
    <link rel="shortcut icon" th:href="@{/img/fav.png}" type="image/x-icon">
    
</head>
<body>
    <header class="header header__signup">
        <div class="header__image header__image--signup">
            <img th:src="@{img/fill.png}" alt="Mynd af krúttlegum fíl">
        </div>
    </header>
    <main class="main main__signup">
        <section class="signup">
            <h2 class="signup__title">Nýskráning</h2>
            <form class="signup__form form" th:action="@{/signup}" th:object="${user}" method="post">
                <input class="form__input" type="text" th:field="*{name}" id="name" placeholder="Nafn">
                <input class="form__input" type="email" th:field="*{email}" id="email" placeholder="Netfang">
                <span class="error__message --hidden">Netfang nú þegar í notkun</span>
                <input class="form__input" type="password" th:field="*{password}" id="password" placeholder="Lykilorð">
                <button  class="form__button" type="submit" > Nýskráning</button>
            <div class="signup__login login__signup">
                <h2 class="login__title">Ég er með aðgang </h2>
                <a class="button__link form__button" th:href="@{/login}">Innskráning</a>
            </div>
        </section>
    </main>
    <script th:src="@{/js/signup.js}"></script>
</body>
</html>

