<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe | Nafnaneistar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/swipe.css}">
</head>

<header  th:fragment="header"  class="header header--nav">
    <div class="header__image header__image--nav">
        <img th:src="@{img/fill.png}" alt="Mynd af krúttlegum fíl">
    </div>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a>Search Name</a></li>
            <li class="nav__link"><a>Select Names</a></li>
            <li class="nav__link"><a>View Liked</a></li>
            <li class="nav__link"><a>Link Partner</a></li>
            <div class="nav__submenu">
                <i class="fas fa-cog"></i>
                <ul class="nav__sublinks">
                    <li class="nav__greeting">Halló <span class="user" th:text="${user.getName().split(' ')[0]}"/></li>
                    <li>Stillingar</li>
                    <li>Bla bla</li>
                    <li>Bla bla</li>
                    <li>Bla bla</li>
                    <li><a th:href="@{/logout}">Skrá út</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <section class="namecard">
            <div class="namecard__container">
                <h2 class="namecard__name" th:text="${name.get().getName()}"/> 
                <i class="namecard__gender" th:if="${name.get().getGender()}">&#9792;</i>
                <i class="namecard__gender" th:unless="${name.get().getGender()}">&#9794;</i> 
            </div>
            <div class="namecard__container">
                <p class="namecard__description" th:text="${name.get().getDescription()}"/>
            </div>
            <div class="namecard__buttons">
                <button class="namecard__button namecard__disapprove" th:value="${name.get().getId()}">Dislike</button>
                <button class="namecard__button namecard__approve" th:value="${name.get().getId()}">Approve</button>
            </div>
            
        </section>
        <section class="users">
            <table class="users__table" th:include="/Home.html :: table"></table>
        </section>        
    </main>

    <script th:src="@{/js/swipe.js}"></script>
</body>
</html>