<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe | Nafnaneistar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/swipe.css}">
    <link rel="shortcut icon" th:href="@{/img/fav.png}" type="image/x-icon">
</head>

<header  th:fragment="header"  class="header header--nav">
    <div class="header__image header__image--nav">
        <img th:src="@{img/fill.png}" alt="Mynd af krúttlegum fíl">
    </div>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a th:href="@{/searchname}">Leita af Nafni<i class="fas fa-search"></i> </a> </li>
            <li class="nav__link"><a th:href="@{/swipe}">Velja Nöfn <i class="fas fa-hand-pointer"></i></a> </li>
            <li class="nav__link"><a th:href="@{/viewliked}">Skoða Valin Nöfn <i class="fas fa-heart"></i></a> </li>
            <li class="nav__link"><a th:href="@{/linkpartner}">Tengjast Öðrum <i class="fas fa-user-friends"></i></a></li>
            <div class="nav__submenu">
                <i class="fas fa-cog"></i>
                <ul class="nav__sublinks">
                    <li class="nav__greeting"><i class="fas fa-user"></i> Halló <span class="nav__user" th:text="${user} ? ${user.getName().split(' ')[0]} : 'Enginn'"/></li>
                    <li class="nav__sublink"><i class="fas fa-wrench"></i><a th:href="@{/settings}">Stillingar</a></li>
                    <li class="nav__sublink"><i class="fas fa-fan"></i>Bla bla</li>
                    <li class="nav__sublink"><i class="fas fa-birthday-cake"></i>Bla bla</li>
                    <li class="nav__sublink"><i class="fas fa-comment"></i>Bla bla</li>
                    <li class="nav__sublink"><i class="fas fa-sign-out-alt"></i><a th:href="@{/logout}">Skrá út</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </nav>
</header>
<body>
    <main class="swipe">
        <section class="swipe__filters">
            <div class="swipe__filter swipe__checkboxes"> 
                <span class="filter__title">Kvenkyns<span th:text="${femaleleft}" class="namesleft"></span> <span class="filter__checkbox" id="female"></span></span>
                <span class="filter__title">Karlkyns<span th:text="${maleleft}" class="namesleft"></span> <span class="filter__checkbox" id="male"></span></span>
            </div>
        </section>
        <section draggable="true" class="namecard">
            <div class="namecard__container">
                <h2 class="namecard__name" th:text="${name.get().getName()}"/> 
                <i class="namecard__gender fas fa-venus" th:if="${name.get().getGender()}"></i>
                <i class="namecard__gender fas fa-mars" th:unless="${name.get().getGender()}"></i> 
            </div>
            <div class="namecard__container">
                <p class="namecard__description" th:text="${name.get().getDescription()}"/>
            </div>
            <div class="namecard__buttons">
                
                <button class="namecard__button namecard__disapprove" th:value="${name.get().getId()}"><i class="fas fa-arrow-circle-left "></i></button>
                <button class="namecard__button namecard__approve" th:value="${name.get().getId()}"><i class="fas fa-arrow-circle-right "></i></button>
            </div>
            
        </section>
      
    </main>
    <script th:src="@{/js/swipe.js}"></script>
</body>
</html>