<!DOCTYPE html>
<html lang="is" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valin Nöfn | Nafnaneistar</title>
    <link rel="shortcut icon" th:href="@{/img/fav.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/viewliked.css}">
</head>
<header th:replace="Swipe.html :: header"></header>
<body>
    <main class="viewliked">
        <section class="viewliked__tabs">
            <span id="tab1" class="viewliked__tab --active">Yfirlit</span>
            <span id="tab2" class="viewliked__tab">Skoða sameiginlegan lista með: 
                <div class="viewliked__select"><span class="select__selected">Velja:</span> <i class="fas select__down fa-caret-down"></i>
                    <div class="viewliked__selectmenu">
                        <span th:each="partner : ${partners}" class="select__option" th:if="${partners.size() > 0}" th:id="${partner.getId()}"  th:text="${partner.getName()}">
                        </span>
                        <span class="select__option" th:unless="${partners.size() > 0}">Enginn tengdur</span>
                    </div>
                </div>
            </span>
            <span id="tab3" class="viewliked__tab">Gefa Nafni einkunn</span>
            <span id="tab4" class="viewliked__tab">Skoða nöfn með: 
                <div class="viewliked__select"><span class="select__selected">Einkunn</span> <i class="fas select__down fa-caret-down"></i>
                    <div class="viewliked__selectmenu">
                        <span class="select__option" id="rank5"><span class="gender__rank">5</span></span>
                        <span class="select__option" id="rank4"><span class="gender__rank">4</span></span>                        
                        <span class="select__option" id="rank3"><span class="gender__rank">3</span></span>                        
                        <span class="select__option" id="rank2"><span class="gender__rank">2</span></span>
                        <span class="select__option" id="rank1"><span class="gender__rank">1</span></span>
                        <span class="select__option" id="rank0"><span class="gender__rank">0</span></span>

                    </div>
                </div>
            </span>
            <span id="tab5" class="viewliked__tab">Option 5</span>
        </section>
        <section id="window1" class="viewliked__view viewliked__window viewliked__active">
            <div class="viewliked__container">
                <div class="viewliked__info">
                    <h2 class="viewliked__username" th:text="${user.getName()}"></h2>
                    <p class="viewliked__description" th:text="${meaning}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ad, obcaecati ipsam quaerat nesciunt ipsum eaque dolore temporibus at hic adipisci laudantium necessitatibus corrupti alias, harum cupiditate nostrum magni numquam!</p>
                </div>
                <div class="viewliked__row">
                    <div class="viewliked__genderInfo">
                        <span class="viewliked__gendername">Kvenkynsnöfn<i class="fas fa-venus"></i></span>
                        <div class="viewliked__statistics">
                            <span class="viewliked__namestatistic">Þú hefur samþykkt <span class="statistic__femaleliked" th:text="${femalestats[0]}"></span> nöfn</span>
                            <span class="viewliked__namestatistic">Þú hefur hafnað <span class="statistic__femaledisliked" th:text="${femalestats[1]}"></span> nöfnum</span>
                            <span class="viewliked__namestatistic">Þá átt eftir að skoða <span class="statistic__femaleleft" th:text="${femalestats[2]}"></span> nöfn</span>
                        </div>
                    </div>
                    <div class="viewliked__genderInfo">
                        <span class="viewliked__gendername">Karlkynsnöfn <i class="fas fa-mars"></i></span>
                        <div class="viewliked__statistics">
                            <span class="viewliked__namestatistic">Þú hefur samþykkt <span class="statistic__maleliked" th:text="${malestats[0]}"></span> nöfn</span>
                            <span class="viewliked__namestatistic">Þú hefur hafnað <span class="statistic__maledisliked" th:text="${malestats[1]}"></span> nöfnum</span>
                            <span class="viewliked__namestatistic">Þá átt eftir að skoða <span class="statistic__maleleft" th:text="${malestats[2]}">10</span> nöfn</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="window2" class="viewliked__view viewliked__window">
            <div class="viewliked__container">
               <h2 class="combo__title">Sameiginlegur listi með <span class="combo__user" th:text="${user.getName()}"></span> & <span class="combo__partner">Partner</span></h2> 
               <div class="combo__tables">
               <table class="combo__table">
                   <caption>Kvenkyns</caption>
                    <thead>
                        <tr class="table__headerrow">
                            <th>Nafn</th>
                            <th>Meðaleinkunn</th>
                            <th>Aðgerðir</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <table class="combo__table">
                    <caption>Karlkyns</caption>
                    <thead>
                        <tr class="table__headerrow">
                            <th>Nafn</th>
                            <th>Meðaleinkunn</th>
                            <th>Aðgerðir</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>

        </section>
        <section id="window3" class="viewliked__view viewliked__window">
            <table class="gender__table">
                <caption>Kvenkyns </caption>
                <thead>
                    <tr class="table__headerrow">
                        <th>Nafn</th>
                        <th>Einkunn</th>
                        <th>Aðgerðir</th>
                    </tr>
                </thead>
                <tr th:id="${line.key.getId()}" class="gender__row" th:each="line : ${ncs}" th:if="${line.key.getGender() == 1}">
                    <td  class="gender__name" th:text="${line.key.getName()}"></td>
                    <td th:attr="class='rank'+${line.value} + ' gender__rank'" th:text="${line.value}"></td>
                    <td class="gender__operations"><button class="gender__removeName">Taka af lista</button></td>
                </tr>
            </table>
            <table class="gender__table">
                <caption>Karlkyns</caption>
                <thead>
                    <tr class="table__headerrow">
                        <th>Nafn</th>
                        <th>Einkunn</th>
                        <th>Aðgerðir</th>
                    </tr>
                </thead>
                <tr th:id="${line.key.getId()}" class="gender__row" th:each="line : ${ncs}" th:if="${line.key.getGender() == 0}">
                    <td  class="gender__name" th:text="${line.key.getName()}"></td>
                    <td th:attr="class='rank'+${line.value} + ' gender__rank'" th:text="${line.value}"></td>
                    <td class="gender__operations"><button class="gender__removeName">Taka af lista</button></td>
                </tr>

            </table>
        </section>
        <section id="window4" class="viewliked__view viewliked__window">
            <div class="viewliked__container">
               <h2 class="rating__title">Nöfn með <span class="rating__rank"></span></h2> 
               <div class="rating__tables">
               <table class="rating__table gender__table">
                   <caption>Kvenkyns</caption>
                    <thead>
                        <tr class="table__headerrow">
                            <th>Nafn</th>
                            <th>Einkunn</th>
                            <th>Aðgerðir</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <table class="rating__table gender__table">
                    <caption>Karlkyns</caption>
                    <thead>
                        <tr class="table__headerrow">
                            <th>Nafn</th>
                            <th>Einkunn</th>
                            <th>Aðgerðir</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>

        </section>
        
    </main>
    <script th:src="@{/js/viewliked.js}"></script>
</body>
</html>