.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form * {
    margin: .5em 0;
}

.form__input,
.form__button {
    height: 3.5rem;
    font-size: 1.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: .5em;
    width: 90%;
    border: none;

}

.form__button {
    color: var(--font-color);
    justify-self: center;
    cursor: pointer;
    width: 80%
}

.form__button {
    background-color: var(--bt-color);
}

.form__button:hover {
    transition: background-color 300ms ease-in;
    background-color: var(--bt-color-lg);
}

.form__alert {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*visibility: hidden;*/
}

.form__input:focus::placeholder,
button:focus::placeholder {
    color: transparent;
}

::placeholder {
    text-align: center;
    font-size: 1.75rem;

    color: var(--font-color);
}

table {
    width: 48%;
    border: 2px solid var(--nav-bg-color);
    font-size: 2em;
}

table caption {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

table th {
    font-size: 1.1em;
    font-weight: bold;
}

table tr:nth-of-type(even) {
    background-color: var(--ambient-color);
}
table tr:nth-of-type(odd) {
    background-color: var(--swipe-bg-color);
}

table tr:hover{
    transition: background-color 300ms ease-in;
    background-color: var(--nav-bg-color);
}
table td {
    border: 1px solid var(--nav-bg-color);
}
table tr {
    padding: .2em 0;
    border-top: 1px solid var(--nav-bg-color);
    border-bottom: 1px solid var(--nav-bg-color);
    cursor: pointer;
}
label {
    color: var(--font-color);
    font-size: 1.1em;
    font-weight: 400;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--swipe-bg-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid var(--ambient-color);
    cursor: pointer;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--ambient-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid var(--ambient-color);
    cursor: pointer;
}
.filter__title {
    margin: .5em 0;
    align-items: center;
}

.filter__checkbox {
    height: .8em;
    width: .8em;
    content: "";
    position: absolute;
    background-color: var(--nav-bg-color-lg);
    align-self: center;
    justify-self: center;
    margin: .1em;
    cursor: pointer;
    border: 1px solid var(--nav-bg-color);
    z-index: 10000000;
}

.fa-check {
    padding: 0 0 .2em 0;
}
@media only screen and (max-width: 768px) {

    .form__input,
    .form__button {
        height: 3.5rem;
        font-size: 1.75rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        border-radius: .5em;
        width: 90%;
        border: none;
    }

    .form__button {
        width: 80%;
    }
}